# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

##### .lstrip()

In [1]:
#removes white space form the left/front of a string
name = " Ryan"
print(name)
name = name.lstrip()
print(name)

 Ryan
Ryan

In [2]:
#removes white space form the right/back of a string
name = " Ryan"
print(name)
name = name.rstrip()
print(name)

 Ryan
 Ryan

In [3]:
#.strip() removes white space form surrounding the string
name = " Ryan"
print(name)
name = name.strip()
print(name)

 Ryan
Ryan

##### Using 'in' keyword

In [5]:
#use in for any type iterable, list, dictionary, string, tuple, set and others
name = "Bernadette Marx"
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for num in my_list:
    if num % 2 == 0:
        print(num, "even")
    else:
        print(num, "odd")
        
for letter in name: 
    print(letter)

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
B
e
r
n
a
d
e
t
t
e

M
a
r
x

##### Continue Statement

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for num in my list:
    if num % 2 ==0:
        print(num, "even")
    elif num == 5:
        continue
    else:
        print(num, "odd")

##### Break Statement

In [ ]:
# will break out of current loop
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

counter = 0
while counter < len(my_list):
    if my_list[counter] % 2 == 0:
        print(my_list[counter], "even")
    elif my_list[counter] == 7:
        break
    else:
        print(my_list[counter], "odd")
    x += 1

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration
for name in my_list:
    pass #come back later use to not break your code

##### Double For Loops

In [7]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list2 = [2, 6, 10, 14, 18]

for num in my_list:
    for num2 in my_list2:
        if num2 == num*2:
            print(num, num2)

1 2
3 6
5 10
7 14
9 18

### While Loops

In [9]:
#while keyword, condition for the while to run

names = ["Ryan", "Alex", "Dyonne", "Steve", "Raul", "Katie"]

index = 0

while index < len(names):
    print(names[index])
    index += 1

Ryan
Alex
Dyonne
Steve
Raul
Katie

##### looping 'While True'

In [12]:
names = ["Ryan", "Alex", "Dyonne", "Steve", "Raul", "Katie"]

flag = True
index = 0

while flag:
    print(names[index])
    if names[index] == "Dyonne":
        flag = False
    index += 1

Ryan
Alex
Dyonne

##### While & For Loops Used Together

##### The Range Function

In [ ]:
# range start stop step
#if only one parameter is provided it will default to stop
#goes up to but does not include number because it is positions and counting starts at 0. 

for num in range(10):
    print(num)

### String Manipulation Exercise

In [22]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
#.title() and remove white space with .strip()

#.lstrip() and .lower()

for name in names:
    print(name.title().strip())

Connor
Max
Evan
Jordan

## Lists

##### Declaring Lists

In [ ]:
our_list = [] #<--- empty list
our_full_list = [1, 2, 3, 4, 5]

##### Indexing a List

In [26]:
names = ["Ryan", "Alex", "Dyonne", "Steve", "Raul", "Katie"]

#indexing into list
print(names[3])

#print strating at an index
print(names[2:])

#print reverse an index
print(names[::-1])

#print from index 1 and go by 2's
print(names[1::2])

Steve
['Dyonne', 'Steve', 'Raul', 'Katie']
['Katie', 'Raul', 'Steve', 'Dyonne', 'Alex', 'Ryan']
['Alex', 'Steve', 'Katie']

### List Methods

##### .append()

In [28]:
#insert will insert value into a list at the given index

names.insert(2, "Cassie")
print(names)

['Ryan', 'Alex', 'Cassie', 'Dyonne', 'Steve', 'Raul', 'Katie', 'Teddie']

##### .insert()

In [ ]:
#insert will insert value into a list at the given index

names.insert(2, "Cassie")
print(names)

##### .pop()

In [34]:
# default is the ast value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable 
names = ["Ryan", "Alex", "Dyonne", "Steve", "Raul", "Katie"]

name_removed = names.pop(1)
print(name_removed)
print(names)

Alex
['Ryan', 'Dyonne', 'Steve', 'Raul', 'Katie']

##### .remove()

In [35]:
# value to be removed, not an index
names = ["Ryan", "Alex", "Cassie", "Cassie", "Dyonne", "Steve", "Raul", "Katie"]
print(names)

for name in names:
    if name == "Cassie":
        names.remove(name)
print(names)

['Ryan', 'Alex', 'Cassie', 'Cassie', 'Dyonne', 'Steve', 'Raul', 'Katie']
['Ryan', 'Alex', 'Cassie', 'Dyonne', 'Steve', 'Raul', 'Katie']

In [36]:
#while loop
print(names)

while "Cassie" in names:
    names.remove("Cassie")
print(names)

['Ryan', 'Alex', 'Cassie', 'Dyonne', 'Steve', 'Raul', 'Katie']
['Ryan', 'Alex', 'Dyonne', 'Steve', 'Raul', 'Katie']

### Working With Lists

##### del()

In [37]:
# index to be removed, not value 
# BE CAREFUL with del, can cause an indexing error if not used carefully

print(names)

del(names[0])
print(names)

['Ryan', 'Alex', 'Dyonne', 'Steve', 'Raul', 'Katie']
['Alex', 'Dyonne', 'Steve', 'Raul', 'Katie']

##### min()

In [38]:
num_list = [1, 2, 3, 4, 5, 6]

smallest_num = min(num_list)
print(smallest_num)
print(min(num_list))

1
1

##### max()

In [39]:
num_list = [1, 2, 3, 4, 5, 6]

max_num = max(num_list)
print(max_num)
print(max(num_list))

6
6

##### sum()

In [40]:
num_list = [1, 2, 3, 4, 5, 6]

sum_list = sum(num_list)
print(sum_list)
print(sum(num_list))

21
21

##### sorted()

In [43]:
#does not change the original list
num_list = [1, 2, 3, 4, 5, 7, 6]

sorted_list = sorted(num_list)
print(num_list)
print(sorted(num_list))

[1, 2, 3, 4, 5, 7, 6]
[1, 2, 3, 4, 5, 6, 7]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [42]:
#changes the original list
num_list = [1, 2, 3, 4, 5, 7, 6]

print(num_list)
num_list.sort()
print(num_list)

[1, 2, 3, 4, 5, 7, 6]
[1, 2, 3, 4, 5, 6, 7]

##### Copying a List

In [44]:
# [:] copies a list, doesn't alter original'
num_list = [1, 2, 3, 4, 5, 6]

print(num_list)
new_list = num_list[:]
print(new_list)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

##### Looping Through Lists

In [48]:
#two ways to loop through list

#value
names = ["Ryan", "Alex", "Dyonne", "Steve", "Raul", "Katie"]

for name in names:
    print(name)
    
#range
for i in range(len(names)):
    print("\n", names[i])

Ryan
Alex
Dyonne
Steve
Raul
Katie

 Ryan

 Alex

 Dyonne

 Steve

 Raul

 Katie

##### 'in' keyword

In [49]:
#chek if the input number's double is in the list provided
doubles = [1, 2, 5, 8, 6, 20, 18, 14]

num = 4

if num * 2 in doubles:
    print("The double exists")
else:
    print("It's not here, my dude hyeahhhhh")

The double exists

In [52]:
doubles = [1, 2, 5, 8, 6, 20, 18, 14]

for numbers in doubles:
    if numbers == num * 2:
        print(numbers, "Yay a double")
    else:
        print("Boo not a double")

Boo not a double
Boo not a double
Boo not a double
8 Yay a double
Boo not a double
Boo not a double
Boo not a double
Boo not a double

##### 'not in' keyword

In [54]:
rangers = ["Chris", "Tyler", "Tarun", "Alex", "Kathy"]

name = "Phyllis"

if name not in rangers:
    print(name, "is not a ranger")

Phyllis is not a ranger

##### Checking an Empty List

In [55]:
our_list = []

if our_list == []:
    print("This list is empty")

This list is empty

##### Removing Instances with a Loop

In [57]:
#while, remove

rangers = ["Chris", "Tyler", "Tarun", "Alex", "Kathy"]
print(rangers)

while "Tyler" in rangers:
    rangers.remove("Tyler")
print(rangers)

for name in rangers:
    if name == "Kathy":
        rangers.remove(name)
print(rangers)

['Chris', 'Tyler', 'Tarun', 'Alex', 'Kathy']
['Chris', 'Tarun', 'Alex', 'Kathy']
['Chris', 'Tarun', 'Alex']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [61]:
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
new_names = []

for name in names:
    if name not in new_names:
        new_names.append(name)

print(new_names)

['connor', 'connor', 'max', 2, 2, 2, 3, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [64]:
nums = []

for i in range(100):
    nums.append(i)
print(nums)
print("\n")

#list comprehension syntax

num_comp = [i for i in range(100)]
print(num_comp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]


[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [68]:
# squared numbers comprehension
# [variable, transform, condition]

my_list = [2, 4, 6, 8 ,10]

squares = [x**2 for x in my_list]

print(squares)

squares2 = [x**2 for x in range(10)]
print(squares2)

[4, 16, 36, 64, 100]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [75]:
names = ["Chris", "Tyler", "Tarun", "Alex", "Kathy"]

first_letter = [name[0] for name in names]
print(first_letter)

first_letter_list = []
for name in names:
    first_letter_list.append(name[0])
print(first_letter_list)

['C', 'T', 'T', 'A', 'K']
['C', 'T', 'T', 'A', 'K']

In [81]:
names = ["Chris", "Tyler", "Tarun", "Alex", "Kathy"]
g_names = []

for name in names:
    if name[0] == "T":
        g_names.append(name)
    print(g_names)
    
g_names2 = [name for name in names if name[0] =="T"]
print(g_names2)

[]
['Tyler']
['Tyler', 'Tarun']
['Tyler', 'Tarun']
['Tyler', 'Tarun']
['Tyler', 'Tarun']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [88]:
#first way of creating a tuple
tup_1 = 1, 2, 3
tup_2 = (1, 2, 3)

print(type(tup_1))
print(type(tup_2))

print(len(tup_1))

#looping over a tuple

for number in tup_1:
    print(number)

print("\nlooping over a tuple with index")
for x in range((len(tup_1))):
    print(tup_1[x])

<class 'tuple'>
<class 'tuple'>
3
1
2
3

looping over a tuple with index
1
2
3

##### sorted()

In [89]:
tup_3 = [20, 6, 19, 11, 5, 3, 1, 43]

sorted_tup = sorted(tup_3)
print(tup_3)

#you cannot change a tuple even the order of valuables in the tuple

[20, 6, 19, 11, 5, 3, 1, 43]

##### Adding values to a Tuple

In [91]:
tup_2 = (1, 2, 3)

tup_2 = tup_2 + (5,)
print(tup_2)

(1, 2, 3, 5)

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [14]:
alist = [1,11,14,5,8,9]

less_than = []

for i in alist:
    if i <= 10:
        less_than.append(i)
    print(less_than)
    
alist2 = [1,11,14,5,8,9]

#comprehensive
less_than = [i for i in alist if i <= 10]
print("\n", less_than)

[1]
[1]
[1]
[1, 5]
[1, 5, 8]
[1, 5, 8, 9]

 [1, 5, 8, 9]

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [33]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

new_list = l_1 + l_2
new_list.sort()
print(new_list)

#remove duplicates

no_dups = []

for num in new_list:
    if num not in no_dups:
        no_dups.append(num)

print(no_dups)

#list comprehension

comp = [num for num in new_list if num not in no_dups]
print(comp)

#prints empty list ---- alex, how would I have been able to turn this answer into list comprehension?

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]
[]